{% extends "blog/base.html" %}
{% block content %}
    <h1>About Page</h1>
    <p>Red Stick is an open source Django Blog for learning purpose.
        </br>It is hosted at <a href="https://heroku.com">Heroku</a> using MySQL database to store user's data and blog posts.
        </br>Remote MySQL database is hosted at <a href="https://www.remotemysql.com">remotemysql</a>.
        </br>GitHub repository of this project can be found <a href="https://github.com/AkhzarFarhan/django_project">here</a>.
        </br></br>Meet the developer: <a href="https://github.com/AkhzarFarhan">Akhzar Farhan</a>
    </p>
{% endblock content %}
